Hololens Demo/Logs
Hololens Demo/Library/Artifacts
Hololens Demo/Library/PackageCache
.vs
Hololens Demo/Assets/_pycache_
Hololens Demo/Library
Hololens Demo/Temp
Hololens Demo/Assets_axis.png
Hololens Demo/Assets/exe.png
Hololens Demo/Logs/shadercompiler-UnityShaderCompiler.exe0.log
