Hololens Demo/Logs/
Hololens Demo/Library/Artifacts
Hololens Demo/Library/PackageCache
.vs
Hololens Demo/Assets/_pycache_
Hololens Demo/Library
Hololens Demo/Temp
Hololens Demo/Assets_axis.png
Hololens Demo/Assets/exe.png
Hololens Demo/Logs/shadercompiler-UnityShaderCompiler.exe0.log
Hololens Demo/Logs/shadercompiler-UnityShaderCompiler.exe0.log
*.log
Hololens Demo/Assets/TextMesh Pro/
Hololens Demo/Assets/MixedRealityToolkit.Generated/CustomProfiles/
Hololens Demo/Packages/MixedReality/
Hololens Demo/UserSettings/
.DS_Store
Hololens Demo/.vsconfig
Hololens Demo/Assets/__pycache__/RSA_API.cpython-39.pyc
*.log
